<div class="lte-footer-wrapper lte-footer-layout-default" xmlns="http://www.w3.org/1999/html">
		<div class="footer-wrapper">
			<div class="container">
				<div class="footer-block lte-footer-widget-area">
					<div data-elementor-type="wp-post" data-elementor-id="29393" class="elementor elementor-29393"
						data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
								<section style="padding:50px 0px;"
									class="lte-background-black elementor-section elementor-top-section elementor-element elementor-element-3108a1f lte-background-black elementor-section-boxed elementor-section-height-default elementor-section-height-default"
									data-id="3108a1f" data-element_type="section"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-container elementor-column-gap-default">
										<div class="elementor-row">
											<div class="elementor-column elementor-col-40 elementor-top-column elementor-element elementor-element-8f5b5b6"
												data-id="8f5b5b6" data-element_type="column">
												<div class="elementor-column-wrap elementor-element-populated">
													<div class="elementor-widget-wrap">
														<div class="elementor-element elementor-element-80d4d7f elementor-widget-mobile__width-auto elementor-widget-mobile_extra__width-auto elementor-widget elementor-widget-shortcode"
															data-id="80d4d7f" data-element_type="widget"
															data-widget_type="shortcode.default">
															<div class="elementor-widget-container">
																<div class="elementor-shortcode"><a class="lte-logo"
																		href="index.html"><img
																		src="{{fixed.0.logo.url}}"></a>
																			</div>
															</div>
														</div>
														<div class="elementor-element elementor-element-f79f7f5 elementor-widget__width-initial elementor-widget-mobile_extra__width-inherit elementor-widget elementor-widget-text-editor"
															data-id="f79f7f5" data-element_type="widget"
															data-widget_type="text-editor.default">
															<div class="elementor-widget-container">
																<div class="elementor-text-editor elementor-clearfix">
																	<p>{{abt.0.abt1_description}}</p>
																</div>
															</div>
														</div>
														<div class="elementor-element elementor-element-235860e elementor-widget-mobile__width-auto elementor-widget-mobile_extra__width-auto elementor-widget elementor-widget-shortcode"
															data-id="235860e" data-element_type="widget"
															data-widget_type="shortcode.default">
															<div class="elementor-widget-container">
																<div class="elementor-shortcode">
																	<div class="lte-social lte-nav-second lte-type-">
																		<ul>
																			<li><a href="#" target="_self"><span
																						class="queeny_fa5_icons fab fa-facebook-f"></span></a>
																			</li>
																			<li><a href="#" target="_self"><span
																						class="queeny_fa5_icons fab fa-youtube"></span></a>
																			</li>
																			<li><a href="#" target="_self"><span
																						class="fidem_fa5_icons fab fa-twitter"></span></a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-a629d5d"
												data-id="a629d5d" data-element_type="column">
											</div>
											<!--<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-a629d5d"
												data-id="a629d5d" data-element_type="column">
											</div>-->


											<div class="elementor-column elementor-col-40 elementor-top-column elementor-element elementor-element-a629d5d"
												data-id="a629d5d" data-element_type="column">
												<div class="elementor-column-wrap elementor-element-populated">
													<div class="elementor-widget-wrap">
														<div class="elementor-element elementor-element-8c78456 lte-heading-align-mobile-center lte-heading-align-mobile_extra-center elementor-widget elementor-widget-lte-header"
															data-id="8c78456" data-element_type="widget"
															data-widget_type="lte-header.default">
															<div class="elementor-widget-container">
																<div
																	class="lte-heading lte-style-default lte-color-second lte-subcolor-main heading-tag-h5 heading-subtag-h6">
																	<div class="lte-heading-content">
																		<h5 class="lte-header" style="margin-bottom:20px;">Contact info</h5>
																	</div>
																</div>
															</div>
														</div>
														<div class="elementor-element elementor-element-fc80b47 elementor-widget-mobile__width-initial elementor-widget-mobile_extra__width-initial elementor-widget__width-initial elementor-widget elementor-widget-lte-icons"
															data-id="fc80b47" data-element_type="widget"
															data-widget_type="lte-icons.default">
															<div class="elementor-widget-container">
																<ul
																	class="lte-block-icon has-descr  icons-count-2 lte-icon-space-md lte-icon-shape-default lte-icon-background-disabled lte-icon-border-disabled lte-icon-color-main lte-icon-divider-disabled lte-icon-inner-padding- lte-icon-size-small lte-header-color-second lte-icon-type-left lte-icon-align- lte-hover-animation-yes layout-cols1 lte-additional-disabled">
																	<li class="col-xl-12 col-xs-12" style="    margin-bottom: 12px;">
																		<div class="lte-inner"><i aria-hidden="true"
																				class="fas fa-map-marker"></i><div
																				class="lte-icon-content"> <span
																					class="lte-header lte-span"> Our
																					location: </span> <span
																					class="lte-descr">{{cnt.0.address}}</span></div>
																		</div>
																	</li>

																	<li class="col-xl-12 col-xs-12" style="    margin-bottom: 12px;">
																		<div class="lte-inner"><i aria-hidden="true"
																				class="fa fa-envelope"></i><span
																				class="lte-icon-content"> <span
																					class="lte-header lte-span"> Mail ID: </span> <span
																					class="lte-descr">{{cnt.0.email}}</span></span>
																		</div>
																	</li>

																	<li class="col-xl-12 col-xs-12" style="    margin-bottom: 12px;">
																		<div class="lte-inner"><i aria-hidden="true"
																				class="fa fa-phone"></i><span
																				class="lte-icon-content"> <span
																					class="lte-header lte-span"> Phones:
																				</span> <span
																					class="lte-descr">+{{cnt.0.code}}-{{cnt.0.phn1}},
																					+{{cnt.0.code}}-{{cnt.0.phn2}}</span></span></div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>







		<footer class="copyright-block copyright-layout-copyright-transparent">
			<div class="container">

			</div>
		</footer>