{% extends 'adminn_header.html' %}
{% block content %}

    <div class="container-fluid">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" style="margin: 10px">
                <div class="card card-hover" data-toggle="tab" href="#tabs-1" role="tab">
                  <div class="box bg-warning text-center" style="width: 130px;">
                      <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                      <h6 class="text-white">Gallery</h6>
                  </div>
                </div>
			</li>
            <li class="nav-item" style="margin: 10px">
                <div class="card card-hover" data-toggle="tab" href="#tabs-2" role="tab">
                  <div class="box bg-warning text-center" style="width: 130px;">
                      <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                      <h6 class="text-white">Identity</h6>
                  </div>
                </div>
			</li>
            <li class="nav-item" style="margin: 10px">
                <div class="card card-hover" data-toggle="tab" href="#tabs-3" role="tab">
                  <div class="box bg-warning text-center" style="width: 130px;">
                      <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                      <h6 class="text-white">Patrons</h6>
                  </div>
                </div>
			</li>
            <li class="nav-item" style="margin: 10px">
                <div class="card card-hover" data-toggle="tab" href="#tabs-4" role="tab">
                  <div class="box bg-warning text-center" style="width: 130px;">
                      <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                      <h6 class="text-white">Mission</h6>
                  </div>
                </div>
			</li>
            <li class="nav-item" style="margin: 10px">
                <div class="card card-hover" data-toggle="tab" href="#tabs-5" role="tab">
                  <div class="box bg-warning text-center" style="width: 130px;">
                      <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                      <h6 class="text-white">Team</h6>
                  </div>
                </div>
			</li>
            <li class="nav-item" style="margin: 10px">
                <div class="card card-hover" data-toggle="tab" href="#tabs-6" role="tab">
                  <div class="box bg-warning text-center" style="width: 130px;">
                      <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                      <h6 class="text-white">Publications</h6>
                  </div>
                </div>
			</li>
        </ul>
        <div class="tab-content"><!-- Gallery -->
			<div class="tab-pane active" id="tabs-1" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#slide-1" role="tab">Delete</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#slide-2" role="tab">Add</a>
                  </li>
                </ul>
                <div class="tab-content">
                   <div class="tab-pane active" id="slide-1" role="tabpanel">
                    {% for i in pic %}
                     <div style="margin-top:15px">
                     <form action="delete_gallery"method="post" enctype="multipart/form-data">
                       {% csrf_token %}
                         <div class="row">
                             <div class="col-md-3">
                                <div>
                                    <span>Function Name</span>{{i.function_name}}
                                </div>
                             </div>
                             <div class="col-md-3">
                                 <div>
                                    <img src="{{i.image.url}}" style="width:200px;height:120px;object-fit:cover;">
                                 </div>
                             </div>
                             <div class="col-md-2">
                                 <div>
                                     <p><button type="submit">Delete Image</button></p>
                                 </div>
                             </div>
                         </div>
                     </form>
                     </div>
                    {% endfor %}
                    </div>

                     <div class="tab-pane" id="slide-2" role="tabpanel">
                    <form action="add_gallery"method="post" enctype="multipart/form-data">
                       {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                <div style = "margin-top:15px">
                                   <input type="file" id="image" value="image" name="image">
                                </div>
                            </div>
                               <div class="col-md-3">
                                   <input type="text" placeholder="Function Name" id="function_name" name="function_name" >
                               </div>
                               <div class="col-md-3">
                                   <p><button type="submit">Add </button></p>
                               </div>
                        </div>
                    </form>
                   </div>


                </div>
                <div class="tab-content">

                </div>


            </div>
        </div>
{% endblock %}