{% extends 'adminn_header.html' %}
<!-- slider_edit -->
    {% block content %}

    <div class="container-fluid">
				<div>
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item" style="margin: 10px">
						<!--<a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"></a>-->
						<div class="card card-hover" data-toggle="tab" href="#tabs-1" role="tab">
                            <div class="box bg-cyan text-center" style="width: 130px;">
                                <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
                               <h6 class="text-white">Slider</h6></a>
                            </div>
                        </div>
					</li>
					<li class="nav-item" style="margin: 10px">
						<!--<a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Second Panel</a>-->
						<div class="card card-hover" data-toggle="tab" href="#tabs-2" role="tab">
                            <div class="box bg-success text-center" style="width: 130px;">
                                <h1 class="font-light text-white"><i class="mdi mdi-chart-areaspline"></i></h1>
                                <h6 class="text-white">Contact Details</h6>
                            </div>
                        </div>
					</li>
					<li class="nav-item" style="margin: 10px">
						<!--<a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Third Panel</a>-->
						<div class="card card-hover" data-toggle="tab" href="#tabs-3" role="tab">
                            <div class="box bg-warning text-center" style="width: 130px;">
                                <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                                <h6 class="text-white">Logo</h6>
                            </div>
                        </div>
					</li>





				</ul><!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="tabs-1" role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#slide-1" role="tab">Update/Delete Slide</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " data-toggle="tab" href="#slide-2" role="tab">Add New Slider</a>
                            </li>
                        </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="slide-1" role="tabpanel">
                                <div>
                                    <div>
                                        {% for i  in slider %}
                                        <div class="row" style="margin-top:15px">
                                            <div class="col-md-3">
                                                <div class="">
                                                    <h4>Slider</h4>
                                                    <label>Slider Text</label>
                                                    <input type="text" value="{{i.word}}">
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <form action="delete_slider"method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-3">
                                                                <div>
                                                                    <img src="{{i.img.url}}" style="width:200px;height:120px;object-fit:cover;">
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <div style = "margin-top:15px">
                                                                    <input type="hidden" value="{{i.id}}" name="id">
                                                                    <p><button type="submit">Delete </button></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </form>
                                            </div>
                                        </div>
                                        {% endfor %}
						            </div>
                                </div>
                            </div>
                                <div class="tab-pane " id="slide-2" role="tabpanel">
                                    <div class="row">
                                        <form action="add_slider" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                            <div class="col-md-3">
                                                <div style = "margin-top:15px">
                                                    <input type="file" id="img" value="img" name="img">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" value="Caption Here" id="word" name="word" >
                                            </div>
                                            <div class="col-md-3">
                                                <p><button type="submit">Add </button></p>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
					<div class="tab-pane" id="tabs-2" role="tabpanel">
                          <div class="row">
                          <div class="col-md-5">
                           <div class="card">
                              <div class="card-body py-md-4">
                               <form action="update_contact" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                   <div class="form-group">
                                  Phone Code<input type="text" class="form-control" id="code" name="code" value="{{cnt.0.code}}">
                                </div>
                                   <div class="form-group">
                                  Phone Number 1<input type="text" class="form-control" id="phn1" name="phn1" value="{{cnt.0.phn1}}">
                                </div>
                                   <div class="form-group">
                                  Phone Number 2<input type="text" class="form-control" id="phn2" name="phn2" value="{{cnt.0.phn2}}">
                                </div>
                                  <div class="form-group">
                                  Address<input type="text" class="form-control" id="address" name="address" value="{{cnt.0.address}}">
                                </div>
                                <div class="form-group">
                                     Email<input type="email" class="form-control" id="email" name="email" value="{{cnt.0.email}}">
                                </div>
                          <div class="d-flex flex-row align-items-center justify-content-between">
                                <input type="hidden" value="{{cnt.0.id}}" name="id">
                                <p><button type="submit">Update</button></p>
                                  </div>
                               </form>
                             </div>
                          </div>
                        </div>
                        </div>
                        </div>


                    <div class="tab-pane" id="tabs-3" role="tabpanel">
                       <div class="row">
                            <div class="col-md-2">
                                <form action="update_logo" method="post" enctype="multipart/form-data"> {% csrf_token %}
                                     <img style="margin:0px auto;display: block;" src="{{fixed.0.logo.url}}" style="width:120px;height:120px;object-fit:cover;">
                                    <input type="file" id="logo" name="logo" style="margin-top:25px;">
                                    <input type="hidden" value="{{fixed.0.id}}" name="id">
                                        <p><button type="submit">Update</button></p>
                                </form>
                            </div>
                       </div>


			        </div>
    {% endblock %}