<ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#slide-1" role="tab">Delete</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#slide-2" role="tab">Add</a>
                  </li>
                </ul>
                <div class="tab-content">
                   <div class="tab-pane active" id="slide-1" role="tabpanel">
                    {% for i in pic %}
                     <div style="margin-top:15px">
                     <form action="delete_gallery"method="post" enctype="multipart/form-data">
                       {% csrf_token %}
                         <div class="row">
                             <div class="col-md-3">
                                <div>
                                    <span>Function Name</span>{{i.function_name}}
                                </div>
                             </div>
                             <div class="col-md-3">
                                 <div>
                                    <img src="{{i.image.url}}" style="width:200px;height:120px;object-fit:cover;">
                                 </div>
                             </div>
                             <div class="col-md-2">
                                 <div>
                                     <p><button type="submit">Delete Image</button></p>
                                 </div>
                             </div>
                         </div>
                     </form>
                     </div>
                    {% endfor %}
                    </div>

                    <div class="tab-pane" id="slide-2" role="tabpanel">
                    <form action="add_gallery"method="post" enctype="multipart/form-data">
                       {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                <div style = "margin-top:15px">
                                   <input type="file" id="image" value="image" name="image">
                                </div>
                            </div>
                               <div class="col-md-3">
                                   <input type="text" placeholder="Function Name" id="function_name" name="function_name" >
                               </div>
                               <div class="col-md-3">
                                   <p><button type="submit">Add </button></p>
                               </div>
                        </div>
                    </form>
                   </div>

                </div>