{% extends 'adminn_header.html' %}

    {% block content %}
    {% for i in slider %}
    <form action="edit"method="post" enctype="multipart/form-data">
        {% csrf_token %}
       Text<input type="text" value="{{i.word}}">
       Image<img src="{{i.img.url}}" style="width:200px;height:120px;object-fit:cover;"><input type="file" id="slider1" value="slider" name="slider">
       <input type="hidden" value="{{i.id}}" name="id">{{i.id}}
 		<p><button type="submit">Delete </button></p>
    </form>
    {% endfor %}



        {% endblock %}